// Font-family
@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/700.css';
$base-font: 'Montserrat';

// Color
$white: #FFFFFF;
$black: #000000;
$dark-grey: #2E3A46;
$light-grey: #746B63;
$blue: #1E2D3B;